html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    letter-spacing: -0.06em;
    margin: 0;
    overflow-x: hidden;
    overflow: hidden;
    background-color: white;
    cursor: ulr('output-onlinepngtools.png'), auto;
}

.spacer {
    height: 100vh;
}

.spacer2 {
    height: 50vh;
}

.spacer3 {
    height: 25vh;
}

/* Name */

.full-name {
    text-align: center;
    letter-spacing: -0.06em;
    position: absolute;
    top: 39%;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 9rem;
}

.first-name, .last-name {
    position: fixed;
    mix-blend-mode: difference;
    color: white;
    transition: filter 0.3s ease;
}

/* Nav bar */

.nav-bar {
    display: flex;
    justify-content: right;
    margin: 10px;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 12;
    font-size: 1.5em;
    
    mix-blend-mode: difference;
    color: white;
    transition: filter 0.3s ease;
}

.nav-item {
    margin: 2px;
}

.nav-item.nav-active {
    border-bottom: 3px white solid;
}

/* Marquee */

.marquee {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: -0.06em;
    text-align: left;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -45px;
    width: 20000px;
    text-overflow: clip;
}

/* Content */

.content {
    font-size: 5rem;   
    pointer-events: none;
}

.words {
    font-size: 9rem;
    font-weight: 800;
    letter-spacing: -0.06em;
    transform: translateY(400px);
    opacity: 0;
}

.double-words {
    display: flex;
}

.and {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 1;
    padding-left: 0.5em;
    font-style: italic;
}

#creative {
    margin-left: 5vh;
}
#innovative {
    margin-left: 55vh;
}
#collab {
    margin-left: 15vh;
}
#passionate {
    margin-left: 85vh;
}

#fixed-text {
    mix-blend-mode: difference;
}

/* About */

.about {
    width: 60%;
    margin-left: 20%;
    font-size: 3em;
    font-weight: 800;
    letter-spacing: -0.06em;
    line-height: 80%;
    text-align: justify;
}

.about-title {
    font-size: 8em;
    font-weight: 800;
    letter-spacing: -0.06em;
    line-height: 80%;
    margin-bottom: 10%;
    position: sticky;
    top: 0;

    mix-blend-mode: difference;
    color: white;

}

.me-img {
    width: 30%;
    float: right;
    margin-left: 20px;
}

/* Work */

.work-title {
    font-size: 8em;
    font-weight: 800;
    letter-spacing: -0.06em;
    line-height: 80%;
    margin-bottom: 10%;
    position: sticky;
    top: 0;

    mix-blend-mode: difference;
    color: white;
    z-index: 9;
    transition: text 0.3s ease;
}

a {
    text-decoration: none;
    color: white;
}

.work {
    width: 80%;
    font-size: small;
    margin-left: 10%;
    letter-spacing: 0.3em;
    line-height: 80%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    display: relative;
}

.work-mm {
    position: absolute;
    width: 30%;
    margin: 5%;
}

.work-portfolio {
    position: absolute;
    width: 30%;
    margin: 5%;
    margin-top: 35%;
}

.work-vragen {
    position: absolute;;
    width: 30%;
    margin-left: 50%;
    margin-top: 20%;
}

.work-item {
    display: flex;
    justify-content: space-between;

}

.work-item-img {
    position: relative;
    width: 100%;
    z-index: 10;
}

.work-card {
    transition: filter 0.3s ease;
}

/* Blur */

.work-card.blur {
    filter: blur(5px);
}

.first-name.blur {
    filter: blur(20px);
}

.last-name.blur {
    filter: blur(20px);
}   

.nav-bar.blur {
    filter: blur(5px);
}

/* Footer */

.footer {
    text-align: center;
}

.footer-text {
    display: flex;
    width: 80%;
    height: 10vh;
    font-weight: 500;
    margin-left: 10%;
    text-align: center;
}

.footer-info {
    justify-content: center;
    align-items: center;
    width: 50%;
    color: black;
    bottom: 25vh;
    position: relative;
}

.footer-info a {
    color: black;
}

.footer-info a:hover {
    border-bottom: 2px black solid;
    transition: border 0.2s ease;
}

/* Contact */

.contact {
    position: fixed;
    bottom: -40%;
    width: 100%;
    z-index: 11;
}

.contact-title {
    font-size: 8em;
    font-weight: 800;
    letter-spacing: -0.06em;
    line-height: 80%;
    margin-bottom: 5%;
    position: sticky;
    top: 0;
    margin-left: 20%;

}

.contact-text {
    display: flex;
    width: 80%;
    height: 10vh;
    font-weight: 600;
    margin-left: 10%;
    text-align: center;
}

.contact-info {
    justify-content: center;
    align-items: center;
    width: 50%;
    color: black;
    position: relative;
}

.contact-info a {
    color: black;
}

.contact-info a:hover {
    border-bottom: 2px black solid;
    transition: border 0.2s ease;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(30px); /* Apply blur effect */
    display: none; /* Hidden by default */
    z-index: 11; /* Make sure it's below the contact header */
    transition: all ease 0.3s;
}

.overlay-first-name {
    position: fixed;
    font-size: 2.2em;
    top: 45.5%;
    transition: ease 0.3s;
}

.overlay-last-name {
    position: fixed;
    font-size: 2.2em;
    top: 45.5%;
    right: 0;
    transition: ease 0.3s;
}

/* Background Video */
.video {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    transition: ease 0.5s;
    object-fit: cover;
}

.burger-menu {
    display: none;
}

.nav-modal {
    display: none;
}

.spacer4 {
    height: 100vh;
}

/**
    * Responsive
    */

@media only screen and (max-width: 600px) {

    .video {
        display: none;
    }

    .spacer4 {
        height: 30vh;
    }

    /* Nav bar */
    .nav-bar {
        display: none;
    }

    .burger-menu {
        display: block;
        position: fixed;
        width: 15%;
        top: 0;
        right: 0;
        margin: 10px;
        z-index: 13;
        font-size: 1.5em;
        
        color: black;
        cursor: pointer;
        transition: all ease 0.3s;
    }

    /* Name */
    .full-name {
        display: block;
        height: 20vh;
        font-size: 4em;
        position: relative;
        margin-top: 70%;

    }
    .first-name {
        left: 50%;
        transform: translateX(-50%);
    }
    .last-name {
        margin-top: 60px;
        left: 50%;
        transform: translateX(-50%);
    }

    /* Marquee */
    .marquee {
        display: none;
    }

    /* Content */
    .content {
        font-size: 1em;
        width: 100%;
        display: block;
        justify-content: center;
    }

    .words {
        font-size: 4em;
        mix-blend-mode: difference;
        color: white;
    }
    
    .double-words {
        display: block;
    }

    #creative {
        margin-left: 0;
        text-align: center;
    }
    #innovative {
        margin-left: 0;
        text-align: center;
    }
    #collab {
        margin-left: 0;
        text-align: center;
    }
    #and {
        margin-left: 0;
        text-align: center;
    }
    #passionate {
        margin-left: 0;
        text-align: center;
    }
    

    /* About */
    .about {
        font-size: 1.5em;
    }

    .about-title {
        font-size: 4em;
        position: relative;
        text-align: center;
    }

    .me-img {
        width: 100%;
        margin-bottom: 10%;
    }

    /* Work */
    .work-title {
        position: relative;
        width: 100%;
        font-size: 4em;
        text-align: center;
    }

    .work-mm {
        width: 80%;
        display: block;
        position: relative;
        margin: 10%;
    }

    .work-vragen {
        width: 80%;
        display: block;
        position: relative;
        margin: 10%;
    }

    .work-portfolio {
        width: 80%;
        display: block;
        position: relative;
        margin: 10%;
    }

    .work {
        font-size: 1em;
    }

    /* Footer */
    .footer-text {
        font-size: 0.5em;
    }

    /* Contact */
    .contact-title {
        font-size: 4em;
    }

    .contact-text {
        font-size: 0.5em;
    }

    .overlay-first-name {
        font-size: 1em;
    }

    .overlay-last-name {
        font-size: 1em;
    }

    .nav-modal {
        width: 100%;
        height: 100%;
        background-color: black;
        position: fixed;
        top: -110vh;
        display: block;
        z-index: 12;
    }

    .mobile-nav-item {
        display: block;
        width: 100%;
        font-size: 3em;
        text-align: left;
    }

    .mobile-contact-text {
        margin-top: 80vh;
        display: block;
        font-weight: 600;
        color: white;
        text-align: center;
        opacity: 0;
        
    }

    .mobile-contact-info {
        margin-bottom: 10%;
    }

    .mobile-contact-info a:hover {
        border-bottom: 2px white solid;
    transition: border 0.2s ease;
    }

    .footer-text {
        display: block;
        text-align: center;
        font-size: 1em;
    }

    .footer-info {
        width: 100%;
        display: block;
        margin-bottom: 10%;
    }
}